# Core API Framework
fastapi==0.115.0
uvicorn==0.30.6

# Data Validation and Serialization
pydantic==2.9.2
pydantic-settings==2.5.2

# Cryptography and Authentication
PyJWT==2.9.0
cryptography==43.0.1

# Environment ManagemSSent
python-dotenv==1.0.1